doctype html  
html(lang='en')  
 head
   title Invoice
 body
   div.create-post-container
    form(method='POST' action='/create', enctype='x-www-form-urlencoded')
      div.form-group
        input#invoice_value.form-control(type='text', placeholder='value' name='invoice_value')
        input#name.form-control(type='text', placeholder='name' name='customer_name')
      div.form-group
        textarea#description.form-control(type='text', placeholder='your post is here' name='description' cols='100', rows='10')  
      button.custom-button(type='submit') Post it!