doctype html  
html(lang='en')  
  head
    style
     include invoices.css
    title Invoices
  body
    div.invoices 
      table
        tr 
          th name
          th description 
          th status
        each i in invoices
         tr 
          td= i.customer_name
          td= i.description
          td= i.paid_status
    div.add-new        
      a(href='/create') 
       button.custom-button add new