body {
    background-color: rgba(6, 214, 160, .7);
    font-family: Arial, Helvetica, sans-serif;
    color: #7935f3;
}

.user-block {
    margin: 23px;
    display: inherit;
}
.user {
    font-size: 22px;
    font-weight: bold;
}
.invoices {
    display: flex;
    justify-content: center;
}

table {
    margin-top: 35px;
    background-color: rgba(6, 214, 160, .6);
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}

td,
th {
    padding: 20px;
    border-bottom: 1px solid rgba(181, 255, 225, 0.39);
}

th {
    background-color: rgba(255,255,255,0.3);
}

td {
    height: 40px;
}
@keyframes tr-animation {
    0% {
        background: linear-gradient(180deg, rgba(57,163,52,0.1) 0%, rgba(116,204,111,0.1) 50%, rgba(207,255,233,0.1) 100%);
    };
    50% {
        background: linear-gradient(180deg, rgba(207,255,233,0.1) 0%, rgba(57,163,52,0.1) 50%, rgba(116,204,111,0.1) 100%);
    };
    100% {
        background: linear-gradient(180deg, rgba(116,204,111,0.1) 0%, rgba(207,255,233,0.1) 50%, rgba(57,163,52,0.1) 100%);
    }
}
tr:hover {
    transition: all 0.3s cubic-bezier(.2,.42,.63,.69);
    background: rgba(181, 255, 225, 0.25);

}

.unpaid {
    color: #EF476F;
}
.paid {
    color: #007C52;
}
.message {
    color: #EF476F;
}

.add-new {
    margin: 50px;
    display: flex;
    justify-content: center;
}
.custom-button {
    margin-top: 20px;
    height: 35px;
    width: 90px;
    color: #00241B;
    font-size: 12px;
    background-color: rgba(255,255,255,0.3);
    border: 0;
}

.pay-button {
    color: #00241B;
    font-size: 14px;
    background-color: rgba(255,255,255,0.3);
    border: 0;
}

form {
    padding: 20px;
    background-color: rgba(166, 249, 211, 0.34);
}
input {
    font-size: 16px;
    width: 300px;
    color: #333333;
    background-color: rgba(99, 230, 170, 0);
    border-width: 0;
    border-color: rgba(181, 255, 225, 0.39);
    outline: none;
    resize: none;

}

.create-invoice {
    display: flex;
    justify-content: center;

}
.animation-field {
    display: block;
    text-decoration: none;
    width: max-content;
    position: relative;
    transition: all 0.15s ease-out;
}
.animation-field:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(181, 255, 225, 0.8);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.animation-field:hover:before {
    display: block;
    visibility: visible;
    transform: scaleX(1);
    animation-iteration-count: 1;

}

#id {
    display: none;
}
a {
    font-size: 14px;
    color: #EF476F;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: #EF476F;
}

.container {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.link-block {
    margin-top: 30px;
}

.link-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.create-invoice {
    margin: 100px;
}