doctype html  
html(lang='en')  
 head
   style
    include invoices.css
   title Login
 body
   div.login
    form(method='POST' action='/login', enctype='x-www-form-urlencoded')
      input#username(type='text', placeholder='username' name='username')
      input#password(type='password', placeholder='password' name='password')  
      button.custom-button(type='submit') Login
      if(message)
       p.message= message
    a(href='/') Sign up 

   

     


