doctype html  
html(lang='en')  
 head
   style
    include invoices.css
   title Pay
 body
   div.create-invoice
    form(action=`/pay/${id}?_method=PUT` method='post' enctype='x-www-form-urlencoded')
     input#date.form-control(type='date', name='paid_date')
     input#id.form-control(type='text', name='id', value=id)
     button.custom-button(type='submit') Pay
     if(message)
      p.message= message