doctype html  
html(lang='en')  
 head
   style
    include invoices.css
   title Sign up
 body
   div.container
    div.form-block
     form(method='POST' action='/signup', enctype='x-www-form-urlencoded', autocomplete="off")
      h2 Create a new account
      p.animation-field
       input#username(type='text', placeholder='username' name='username')
      p.animation-field
       input#password(type='password', placeholder='password' name='password') 
       if(message)
        p.message= message
      div.link-container
       button.custom-button(type='submit') Sign up
      div.link-container
       p Already have one? 
        a.login-link(href='/login') Log in  